button:enabled[data-pressed="true"] {
    opacity: 0.8;
}

.function-buttons {
    display: grid;
    grid-template-columns: repeat(4, auto);
    gap: 0.5em 1em;
}

.span-columns {
    grid-column: 1/-1
}

.sticky-top {
    position: sticky;
    top: 0;
    background: var(--bg);
    padding-block: 1em
}
